<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Polygons</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="Polygons" admob>

    <ion-pane ng-controller="MainCtrl">
<!--       <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar> -->
      <ion-content ng-show="viewing==='main'">
        <a class="button button-icon icon ion-information-circled" ng-click="onclickInfo()"></a>
        <div class="center">
          <h1 id="title">Polygons</h1>
          <p id="best-score">ベストスコア：{{recode.bestscore}}</p>
          <button id="start" class="button button-large button-positive" ng-click="onclickStart()">Start</button>
        </div>
      </ion-content>

      <ion-content ng-show="viewing==='question'">
        <div class="center">
          <div id="canvas-cover" ng-show="covering"></div>

          <canvas max-canvas id="polygon" height="400px"></canvas>

          <!-- <div id="correct-message" ng-show="questing==='correct'">ありがとう！</div> -->
          <!-- <div id="incorrect-message" ng-show="questing==='incorrect'">残念…</div> -->

          <div id="question2" ng-show="questing==='answer'">
            <p id="input-message">何角形？</p>
            <div id="input">
              <p id="input-number">{{inputNumber}}</p>
              <a id="clear-number" class="button button-icon icon ion-close-circled" ng-click="onclickClear()"></a>
            </div>
          </div>

          <div id="answered" ng-show="questing==='correct'">
            <div class="now-score">スコア：{{now_score}}</div>
            <div>
              <button id="next" class="button button-clear button-large button-positive" ng-click="onclickNext()">Next</button>
            </div>
          </div>

          <div id="answered2" ng-show="questing==='incorrect'">
            <div class="now-score">スコア：{{now_score}}</div>
            <div class="row">
              <div class="col">
                <button id="back" class="button button-clear button-large button-positive" ng-click="onclickBack()">Back</button>
              </div>
              <div class="col">
                <button id="restart" class="button button-clear button-large button-positive" ng-click="onclickStart()">Start</button>
              </div>
            </div>
          </div>
        </div>

      </ion-content>

      <div id="question" ng-show="viewing==='question' && questing==='answer'">
        <div class="row">
          <div class="col"><button class="button button-clear button-positive" ng-click="onclickNumber(3)">3</button></div>
          <div class="col"><button class="button button-clear button-positive" ng-click="onclickNumber(4)">4</button></div>
          <div class="col"><button class="button button-clear button-positive" ng-click="onclickNumber(5)">5</button></div>
          <div class="col"><button class="button button-clear button-positive" ng-click="onclickNumber(6)">6</button></div>
          <div class="col"><button class="button button-clear button-positive" ng-click="onclickNumber(7)">7</button></div>
        </div>
        <div class="row">
          <div class="col"><button class="button button-clear button-positive" ng-click="onclickNumber(8)">8</button></div>
          <div class="col"><button class="button button-clear button-positive" ng-click="onclickNumber(9)">9</button></div>
          <div class="col"><button class="button button-clear button-positive" ng-disabled="inputNumber===0" ng-click="onclickNumber(0)">0</button></div>
          <div class="col"><button class="button button-clear button-positive" ng-disabled="inputNumber===0" ng-click="onclickNumber(1)">1</button></div>
          <div class="col"><button class="button button-clear button-positive" ng-disabled="inputNumber===0" ng-click="onclickNumber(2)">2</button></div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-positive" ng-disabled="inputNumber===0" ng-click="onclickOK()">OK</button>
          </div>
        </div>
      </div>
    </ion-pane>

    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/collide/collide.js"></script>
    <script src="lib/ionic/release/js/ionic.js"></script>
    <script src="lib/ionic/release/js/ionic-angular.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angularLocalStorage/src/angularLocalStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


        <!-- build:js scripts/scripts.js -->
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/admob.js"></script>
        <script src="scripts/debug.js"></script>
        <!-- endbuild -->
</body>
</html>
